* {
	margin: 0;
	padding: 0;
	box-sizing: border-bo;
	text-decoration: none;
}

body {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}



.container {
	margin: auto;
	max-width: 1100px;
	width: 100%;
	flex-flow: row wrap;
	display: flex;
}



/* header */
#logo img {
	height: 130px;
	padding-left: 40px;

}



header {
	color: #ffffff;
	align-items: center;
	display: flex;
	flex-basis: 100%;
	flex-flow: row wrap;
	justify-content: space-between;
}

.link {
	margin: 0px;
	padding: 60px 0px 0px 0px;
	flex-basis: 43%;

}

.link a {
	color: blue;
	padding: 1em;
	flex-flow: wrap;
	/* background: rgba(255, 252, 252, 0.886); */
}

.rojo {

	display: flex;


}



.pescado {
	width: 100%;
	margin-top: 17px;

}

.letra1 {
	padding: 1em;
	margin-left: 20em;
}

.fotos {
	border: solid rgb(244, 235, 235);
}